/* Styling for HTML elements */

/* colors the whole page */
body {
  background:white;  
}

/* colors the plot comparison data bar */
.navbar{
  position: absolute;
  right: 30px;
  background:white; 
} 
    
  h1 {
    background:lightgray;  
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 28px;
    color: rgb(60, 148, 148);
    font-weight: bold;
    text-align: left;
  }

 